.cart {
  position: absolute;
  right: 20px;
  top: 110px;
  z-index: 999;
  background-color: #fffef9;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  min-width: 200px; /* Adjust this value as needed */
  width: 300px;

  .top {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;

    h1 {
      font-size: 20px;
      padding:0;
      margin-right: auto;
    }

    .close {
      padding: 5px;
      margin-left: auto; // Move .close to the right
      background-color: red;
      color: white;

      &:hover {
        transform: translateY(-3px); /* Move up by 3 pixels on hover */
        cursor: pointer;
      }

    }
  }


  .middle{
    margin: 0;

    span{
      font-weight: bold;
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1vh;
      border-bottom: 1px solid black;

      img {
        width: 80px;
        height: 100px;
        object-fit: cover;
      }

      .details {
        padding:10px;
        margin:auto;
        text-align: center;

        h1 {
          font-size: 18px;
          padding: 0;
          margin: 10px;
        }

        p {
          color: gray;
          font-size: 14px;
        }

        .price {
          color: gray;
        }
      }

      .delete {
        color: red;
        font-size: 30px;
        cursor: pointer;

        &:hover {
          transform: translateY(-3px); /* Move up by 5 pixels on hover */
        }
      }
    }

  }



  .total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    width: 250px;
    padding: 10px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    font-weight: 500;

    &:hover {
      transform: translateY(-3px); /* Move up by 5 pixels on hover */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
    }
  }



}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .cart {
    top: 170px; /* Adjust top positioning for smaller screens */
    right: 10px; /* Adjust right positioning for smaller screens */
    padding-top: 20px; /* Adjust padding for smaller screens */
    left: 23px;


  }
}
