.contact{
  background-color: #2879fe;
  color: white;
  padding: 15px;
  margin-top: 10em;
  display: flex;
  justify-content: center;

  .wrapper{
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mail{
      margin-left: 40vh;
    }

    input{
      padding: 10px;
      border: none;
      border-radius: 5px 0 0  5px;
    }

    button{
      padding: 10px;
      color: white;
      background: #333;
      border-radius: 0 5px 5px 0;
      border: none;
    }

    .icons{
      display: flex;
      gap: 10px;
      margin-right: 24vh;
    }
  }
}

@media screen and (max-width: 768px) {

  .contact {
    background-color: #2879fe;
    color: white;
    padding: 15px;
    margin-top: 10em;
    display: flex;

    justify-content: center;

    .wrapper {
      width: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .mail{
        margin: auto;
        padding-top: 10px;
      }

      input {
        padding: 10px;
        margin-right: 50vh;
        border-radius: 0px;

      }

      button {
        padding: 10px;
        border-radius: 0px;
        margin-right: 50vh;
        margin-top: 2vh;

      }

      .icons {
        display: flex;
        gap: 10px;
        margin: 20px;
      }
    }
  }


}