.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2879fe;
  margin-top: 40px;
  padding-bottom: 20px;


  h1 {
    padding: 18px;
    margin: 0;
    font-size: 15px;
    color: white;
  }

  .wrapper {
    display: flex;
    align-items: center;

    .mail {
      display: flex;
      align-items: center;

      input{
        padding: 10px;
        border: none;
        border-radius: 5px 0 0  5px;

      }

      button {
        padding: 11px;
        color: white;
        background: #333;
        border-radius: 0 5px 5px 0;
        border: none;
        transition: background 0.3s ease; // Adding transition for smooth effect

        &:hover {
          background: red; // Changing background color on hover
          cursor: pointer; // Changing cursor on hover
        }
      }
    }

    .icons {
      display: flex;
      padding-left: 30px;
      gap: 10px;
      color: white;

    }
  }
}

@media screen and (max-width: 768px) {

  .contact{

    .wrapper {
      flex-direction: column;

      .mail {
        flex-direction: row;
        align-items: center;

        input {
          padding-left: 60px;
          margin-bottom: 0;
        }

        button {
          margin-top: 0;
        }
      }

      .icons {
        padding-top: 20px;
        margin-top: 0;
      }
    }

  }



}