.slider-container {
  padding-top: 50px;
  width: 80%;
  position: relative;
  margin: auto;
}

.custom-dot-list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {

  .img-container {
    width: 60%;
    margin: auto;
    img {
      width: 100%; // Adjust image width to fit the container
      height: auto; // Maintain aspect ratio
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .slider-item {

    .img-container {
      width: 100%;
      img {
        width: 100%; // Adjust image width to fit the container
      }
    }
  }
}
